<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>popup delete</title>
</head>
<body>
	<div class="form-horizontal">
		<form action="#" method="get" id="form-mahasiswa-delete">
			<p>Are you sure to delete this data?</p>
			<input type="text" id="kd_mhs" name="kodeMahasiswa"
				th:field="*{bingkisanDelete.kd_mhs}" disabled="disabled"/>
			<button type="reset" data-dismiss="modal" class="btn btn-warning">No</button>
			<!-- <button type="submit" class="btn btn-danger">Yes</button> -->
			<a th:href="@{/mahasiswa/delete?(kodeMahasiswa=${bingkisanDelete.kd_mhs})}">Hapus</a>
		</form>
	</div>
	
</body>
</html>